<XmlRoot>
  <Product id="kHome">
    <App id="ED10B3F5-B62A-4106-BB94-3D876BB30B66" path="D:\Programs\Kompas\Libs\PARTLib\Clients\plclient_kompas.dll" />
    <App id="APP_AutoBalloons" path="D:\Programs\Kompas\Libs\KPos\kPos.rtw" />
    <App id="APP_KomLib" path="D:\Programs\Kompas\Libs\ServiceTools\komlib.rtw" />
    <App id="APP_KompasChecker" path="D:\Programs\Kompas\Libs\KompasChecker\KompasChecker.rtw" />
    <App id="APP_KompasMacro" path="D:\Programs\Kompas\Libs\Kompas-Macro\KompasMacro.rtw" />
    <App id="APP_WeldSeam" path="D:\Programs\Kompas\Libs\WeldSeam\WeldSeam.rtw" />
    <App id="44CC24F6-5F97-4ED0-95E4-A64F90A27FCC" path="D:\Programs\Kompas\Libs\Reviewer\Reviewer.rtw" />
    <App id="APP_Shaft2D" path="D:\Programs\Kompas\Libs\Shaft\Shaft.rtw" />
    <App id="APP_Shaft3D" path="D:\Programs\Kompas\Libs\Shaft\Shaft3D.rtw" />
    <App id="02011DA3-75FE-4B6F-8080-F51143A065FE" path="D:\Programs\Kompas\Libs\Spring\Spring.rtw" />
    <App id="A403A710-F3EE-4643-B81F-96612876831A" path="D:\Programs\Kompas\Libs\IOSO\IOSO-K.dll" />
  </Product>
</XmlRoot>