<?xml version="1.0"?>
<ArrayOfLayoutObjectRepresentative xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <LayoutObjectRepresentative>
    <LayoutObjectID>LOBJ_MASTER_DETAIL:1002</LayoutObjectID>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>20</X>
        <Y>152</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>320</Width>
        <Height>500</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData />
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>LOBJ_PROCESS_PANEL</LayoutObjectID>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>12</X>
        <Y>186</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>320</Width>
        <Height>500</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData />
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>LOBJ_VAR_TREE</LayoutObjectID>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData />
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>LOBJ_MASTER_DETAIL:1006</LayoutObjectID>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>LeftHub</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData />
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>LOBJ_ETHEREAL_CONTEXT_PANEL</LayoutObjectID>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>1119</X>
        <Y>610</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>Roaming</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>Roaming</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData />
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_SYSTEM</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_Sketch_based_elements</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_GEOMETRY_SKETCH</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>2</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_ANNOTATION_SKETCH</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>3</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_MODIFY_3D</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>4</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_DIMENSION</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>5</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_PARAMETRIZATION</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>6</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_Measurement_2D</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>7</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_Instruments_Sketch</LayoutObjectID>
    <AppId>APP_KomLib</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>8</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>2147483647</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_KompasChecker_toolBarSet</LayoutObjectID>
    <AppId>APP_KompasChecker</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>9</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>2147483647</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SKETCH_TOOLS_9381ec65-63b3-48d5-acad-cd08f538516f</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>10</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>Undefined</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_SYSTEM</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_Sketch</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_Solid_elements</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>2</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_Wireframe_elements</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>3</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_3D_Arrays</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>4</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_CS_planes_axis</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>5</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_PMI_DIMENSION</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>6</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_PMI_ANNOTATION</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>7</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>1</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_DIAGNOSTICS</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>8</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>2147483647</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_Plot</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>9</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>2147483647</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
  <LayoutObjectRepresentative>
    <LayoutObjectID>REGIME_SOLID_4531ed12-8084-4aed-a378-76853a74e0e3</LayoutObjectID>
    <AppId>Kompas</AppId>
    <CustomLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>ToolBarTray</LayoutDockModern>
      <TrayIndex>10</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </CustomLayoutParameters>
    <DefaultLayoutParameters>
      <ScreenCoordinatesModern>
        <X>0</X>
        <Y>0</Y>
      </ScreenCoordinatesModern>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <LayoutDockModern>Undefined</LayoutDockModern>
      <TrayIndex>0</TrayIndex>
      <HubIndexModern>0</HubIndexModern>
      <StrandIndexModern>0</StrandIndexModern>
    </DefaultLayoutParameters>
    <ExtendedData>
      <anyType xsi:type="xsd:double">NaN</anyType>
    </ExtendedData>
  </LayoutObjectRepresentative>
</ArrayOfLayoutObjectRepresentative>