<ParameterPanelGroups>
    <!--kinds-->
    <Kind ID="Coordinates_2D" IsExpanded="True" />
    <!--groups within kinds-->
    <CreateGroup ID="65000" Kind="Coordinates_2D" />
    <CreateGroup ID="65001" Kind="Coordinates_2D" />
    <CreateGroup ID="65002" Kind="Coordinates_2D" />
    <CreateGroup ID="65003" Kind="Coordinates_2D" />
    <CreateGroup ID="65004" Kind="Coordinates_2D" />
    <CreateGroup ID="65005" Kind="Coordinates_2D" />
    <CreateGroup ID="65006" Kind="Coordinates_2D" />
    <CreateGroup ID="65007" Kind="Coordinates_2D" />
    <CreateGroup ID="65008" Kind="Coordinates_2D" />
    <CreateGroup ID="65009" Kind="Coordinates_2D" />
    <CreateGroup ID="65010" Kind="Coordinates_2D" />
    <CreateGroup ID="65011" Kind="Coordinates_2D" />
    <CreateGroup ID="65012" Kind="Coordinates_2D" />
    <CreateGroup ID="65013" Kind="Coordinates_2D" />
    <CreateGroup ID="65014" Kind="Coordinates_2D" />
    <CreateGroup ID="65015" Kind="Coordinates_2D" />
    <CreateGroup ID="65016" Kind="Coordinates_2D" />
    <CreateGroup ID="65017" Kind="Coordinates_2D" />
    <CreateGroup ID="65018" Kind="Coordinates_2D" />
    <CreateGroup ID="65019" Kind="Coordinates_2D" />
    <CreateGroup ID="65020" Kind="Coordinates_2D" />
    <CreateGroup ID="65021" Kind="Coordinates_2D" />
    <CreateGroup ID="65022" Kind="Coordinates_2D" />
    <CreateGroup ID="65023" Kind="Coordinates_2D" />
    <CreateGroup ID="65024" Kind="Coordinates_2D" />
    <CreateGroup ID="65025" Kind="Coordinates_2D" />
    <CreateGroup ID="65026" Kind="Coordinates_2D" />
    <CreateGroup ID="65027" Kind="Coordinates_2D" />
    <CreateGroup ID="65028" Kind="Coordinates_2D" />
    <CreateGroup ID="65029" Kind="Coordinates_2D" />
    <CreateGroup ID="65030" Kind="Coordinates_2D" />
    <CreateGroup ID="65031" Kind="Coordinates_2D" />
    <CreateGroup ID="65032" Kind="Coordinates_2D" />
    <CreateGroup ID="65033" Kind="Coordinates_2D" />
    <CreateGroup ID="65034" Kind="Coordinates_2D" />
    <CreateGroup ID="65035" Kind="Coordinates_2D" />
    <CreateGroup ID="65037" Kind="Coordinates_2D" />
    <CreateGroup ID="65036" Kind="Coordinates_2D" />
    <CreateGroup ID="65038" Kind="Coordinates_2D" />
    <CreateGroup ID="65039" Kind="Coordinates_2D" />
    <CreateGroup ID="65040" Kind="Coordinates_2D" />
    <CreateGroup ID="65041" Kind="Coordinates_2D" />
    <CreateGroup ID="65042" Kind="Coordinates_2D" />
    <CreateGroup ID="65043" Kind="Coordinates_2D" />
    <CreateGroup ID="65044" Kind="Coordinates_2D" />
    <CreateGroup ID="65045" Kind="Coordinates_2D" />
    <CreateGroup ID="65046" Kind="Coordinates_2D" />
    <CreateGroup ID="65047" Kind="Coordinates_2D" />
    <CreateGroup ID="65048" Kind="Coordinates_2D" />
    <CreateGroup ID="65049" Kind="Coordinates_2D" />
    <CreateGroup ID="65050" Kind="Coordinates_2D" />
    <CreateGroup ID="65051" Kind="Coordinates_2D" />
    <CreateGroup ID="65052" Kind="Coordinates_2D" />
    <CreateGroup ID="65055" Kind="Coordinates_2D" />
    <CreateGroup ID="65056" Kind="Coordinates_2D" />
    <CreateGroup ID="65061" Kind="Coordinates_2D" />
    <CreateGroup ID="65062" Kind="Coordinates_2D" />
    <CreateGroup ID="65065" Kind="Coordinates_2D" />
    <CreateGroup ID="65066" Kind="Coordinates_2D" />
    <CreateGroup ID="65071" Kind="Coordinates_2D" />
    <CreateGroup ID="65072" Kind="Coordinates_2D" />
    <CreateGroup ID="65073" Kind="Coordinates_2D" />
    <CreateGroup ID="65074" Kind="Coordinates_2D" />
    <CreateGroup ID="65075" Kind="Coordinates_2D" />
    <CreateGroup ID="65076" Kind="Coordinates_2D" />
    <CreateGroup ID="65084" Kind="Coordinates_2D" />
    <CreateGroup ID="65087" Kind="Coordinates_2D" />
    <CreateGroup ID="65091" Kind="Coordinates_2D" />
    <CreateGroup ID="65092" Kind="Coordinates_2D" />
    <CreateGroup ID="65093" Kind="Coordinates_2D" />
    <CreateGroup ID="65094" Kind="Coordinates_2D" />
    <CreateGroup ID="65095" Kind="Coordinates_2D" />
    <CreateGroup ID="65096" Kind="Coordinates_2D" />
    <CreateGroup ID="65097" Kind="Coordinates_2D" />
    <!--groups without kinds-->
    <CreateGroup ID="519" IsExpanded="False" />
    <CreateGroup ID="520" IsExpanded="False" />
    <CreateGroup ID="65110" IsExpanded="False" />
    <CreateGroup ID="895" IsExpanded="False" />
    <CreateGroup ID="5422" IsExpanded="False" />
    <CreateGroup ID="5588" IsExpanded="False" />
    <CreateGroup ID="5593" IsExpanded="False" />
    <CreateGroup ID="5594" IsExpanded="False" />
    <CreateGroup ID="60116" IsExpanded="False" />
    <CreateGroup ID="64084" IsExpanded="True" />
    <CreateGroup ID="64088" IsExpanded="False" />
    <CreateGroup ID="64089" IsExpanded="True" />
    <CreateGroup ID="64090" IsExpanded="False" />
    <CreateGroup ID="11346" IsExpanded="True" />
    <CreateGroup ID="64085" IsExpanded="False" />
    <CreateGroup ID="64086" IsExpanded="True" />
    <CreateGroup ID="64087" IsExpanded="True" />
    <CreateGroup ID="12833" IsExpanded="True" />
    <CreateGroup ID="64092" IsExpanded="True" />
    <CreateGroup ID="64094" IsExpanded="False" />
    <CreateGroup ID="64095" IsExpanded="False" />
    <CreateGroup ID="64101" IsExpanded="False" />
    <CreateGroup ID="64102" IsExpanded="False" />
    <CreateGroup ID="64124" IsExpanded="False" />
    <CreateGroup ID="64091" IsExpanded="True" />
    <CreateGroup ID="64128" IsExpanded="True" />
    <CreateGroup ID="64130" IsExpanded="False" />
    <CreateGroup ID="64103" IsExpanded="False" />
    <CreateGroup ID="64132" IsExpanded="False" />
    <CreateGroup ID="64134" IsExpanded="False" />
    <CreateGroup ID="64135" IsExpanded="False" />
    <CreateGroup ID="64136" IsExpanded="True" />
    <CreateGroup ID="65053" IsExpanded="False" />
    <CreateGroup ID="64147" IsExpanded="False" />
    <CreateGroup ID="64151" IsExpanded="False" />
    <CreateGroup ID="13427" IsExpanded="False" />
    <CreateGroup ID="64190" IsExpanded="True" />
    <CreateGroup ID="64137" IsExpanded="False" />
    <CreateGroup ID="64110" IsExpanded="False" />
    <CreateGroup ID="64113" IsExpanded="False" />
    <CreateGroup ID="64114" IsExpanded="False" />
    <CreateGroup ID="65054" IsExpanded="False" />
    <CreateGroup ID="3651" IsExpanded="False" />
    <CreateGroup ID="65063" IsExpanded="False" />
    <CreateGroup ID="65064" IsExpanded="False" />
    <CreateGroup ID="65067" IsExpanded="True" />
    <CreateGroup ID="65085" IsExpanded="False" />
    <CreateGroup ID="65086" IsExpanded="True" />
    <CreateGroup ID="65088" IsExpanded="True" />
    <CreateGroup ID="65089" IsExpanded="True" />
    <CreateGroup ID="65090" IsExpanded="True" />
    <CreateGroup ID="65099" IsExpanded="False" />
    <CreateGroup ID="65100" IsExpanded="True" />
    <CreateGroup ID="65101" IsExpanded="True" />
    <CreateGroup ID="65102" IsExpanded="True" />
    <CreateGroup ID="10957" IsExpanded="True" />
    <CreateGroup ID="13400" IsExpanded="True" />
    <CreateGroup ID="11370" IsExpanded="False" />
    <CreateGroup ID="64093" IsExpanded="False" />
    <CreateGroup ID="64097" IsExpanded="False" />
    <CreateGroup ID="64256" IsExpanded="False" />
    <CreateGroup ID="60163" IsExpanded="True" />
    <CreateGroup ID="64133" IsExpanded="True" />
    <CreateGroup ID="60162" IsExpanded="True" />
    <CreateGroup ID="60167" IsExpanded="True" />
    <CreateGroup ID="1" IsExpanded="True" />
    <CreateGroup ID="64212" IsExpanded="True" />
    <CreateGroup ID="64213" IsExpanded="True" />
    <CreateGroup ID="5820" IsExpanded="True" />
    <CreateGroup ID="5954" IsExpanded="True" />
    <CreateGroup ID="5949" IsExpanded="True" />
    <CreateGroup ID="5877" IsExpanded="True" />
    <CreateGroup ID="5956" IsExpanded="True" />
    <CreateGroup ID="0" IsExpanded="True" />
    <CreateGroup ID="5951" IsExpanded="True" />
    <CreateGroup ID="12" IsExpanded="True" />
    <CreateGroup ID="34" IsExpanded="True" />
    <CreateGroup ID="3" IsExpanded="True" />
    <CreateGroup ID="5819" IsExpanded="True" />
    <CreateGroup ID="5946" IsExpanded="True" />
    <CreateGroup ID="5807" IsExpanded="True" />
    <CreateGroup ID="5826" IsExpanded="True" />
    <CreateGroup ID="5900" IsExpanded="True" />
    <CreateGroup ID="5982" IsExpanded="True" />
    <CreateGroup ID="64100" IsExpanded="True" />
    <CreateGroup ID="10251" IsExpanded="False" />
    <CreateGroup ID="13268" IsExpanded="True" />
    <CreateGroup ID="11371" IsExpanded="True" />
    <CreateGroup ID="5945" IsExpanded="True" />
    <CreateGroup ID="5876" IsExpanded="True" />
    <CreateGroup ID="5774" IsExpanded="True" />
    <CreateGroup ID="5941" IsExpanded="True" />
    <CreateGroup ID="5818" IsExpanded="True" />
    <CreateGroup ID="5838" IsExpanded="True" />
    <CreateGroup ID="5839" IsExpanded="True" />
    <CreateGroup ID="5958" IsExpanded="True" />
    <CreateGroup ID="20" IsExpanded="True" />
    <CreateGroup ID="42" IsExpanded="True" />
    <CreateGroup ID="5953" IsExpanded="True" />
    <CreateGroup ID="6026" IsExpanded="True" />
    <CreateGroup ID="8" IsExpanded="True" />
    <CreateGroup ID="5841" IsExpanded="True" />
    <CreateGroup ID="5957" IsExpanded="True" />
    <CreateGroup ID="5944" IsExpanded="True" />
    <CreateGroup ID="5943" IsExpanded="True" />
    <CreateGroup ID="5942" IsExpanded="True" />
    <CreateGroup ID="5809" IsExpanded="True" />
    <CreateGroup ID="5808" IsExpanded="True" />
    <CreateGroup ID="5821" IsExpanded="True" />
    <CreateGroup ID="5824" IsExpanded="True" />
    <CreateGroup ID="5934" IsExpanded="True" />
    <CreateGroup ID="5878" IsExpanded="True" />
    <CreateGroup ID="5879" IsExpanded="True" />
    <CreateGroup ID="18" IsExpanded="True" />
    <CreateGroup ID="37" IsExpanded="True" />
    <CreateGroup ID="5960" IsExpanded="True" />
    <CreateGroup ID="5865" IsExpanded="True" />
    <CreateGroup ID="13" IsExpanded="True" />
    <CreateGroup ID="35" IsExpanded="True" />
    <CreateGroup ID="43" IsExpanded="True" />
    <CreateGroup ID="46" IsExpanded="True" />
    <CreateGroup ID="51" IsExpanded="True" />
    <CreateGroup ID="2" IsExpanded="True" />
    <CreateGroup ID="5" IsExpanded="True" />
    <CreateGroup ID="60161" IsExpanded="True" />
    <CreateGroup ID="64916" IsExpanded="True" />
    <CreateGroup ID="6" IsExpanded="True" />
    <CreateGroup ID="5423" IsExpanded="True" />
    <CreateGroup ID="6090" IsExpanded="True" />
    <CreateGroup ID="5775" IsExpanded="True" />
    <CreateGroup ID="5832" IsExpanded="True" />
    <CreateGroup ID="5986" IsExpanded="True" />
    <CreateGroup ID="5843" IsExpanded="True" />
    <CreateGroup ID="5842" IsExpanded="True" />
    <CreateGroup ID="5799" IsExpanded="True" />
    <CreateGroup ID="5814" IsExpanded="True" />
    <CreateGroup ID="11" IsExpanded="True" />
    <CreateGroup ID="26" IsExpanded="True" />
    <CreateGroup ID="5801" IsExpanded="True" />
    <CreateGroup ID="17" IsExpanded="True" />
    <CreateGroup ID="39" IsExpanded="True" />
    <CreateGroup ID="15" IsExpanded="True" />
    <CreateGroup ID="65069" IsExpanded="True" />
    <CreateGroup ID="14" IsExpanded="True" />
    <CreateGroup ID="5816" IsExpanded="True" />
    <CreateGroup ID="5983" IsExpanded="True" />
    <CreateGroup ID="33" IsExpanded="True" />
    <CreateGroup ID="577" IsExpanded="True" />
    <CreateGroup ID="3664" IsExpanded="True" />
    <CreateGroup ID="5798" IsExpanded="True" />
    <CreateGroup ID="8012" IsExpanded="True" />
    <CreateGroup ID="5823" IsExpanded="True" />
    <CreateGroup ID="5888" IsExpanded="True" />
    <CreateGroup ID="5889" IsExpanded="True" />
    <CreateGroup ID="64200" IsExpanded="True" />
    <CreateGroup ID="64201" IsExpanded="True" />
    <CreateGroup ID="64127" IsExpanded="True" />
    <CreateGroup ID="64126" IsExpanded="True" />
    <CreateGroup ID="64131" IsExpanded="True" />
    <CreateGroup ID="10" IsExpanded="True" />
    <CreateGroup ID="64098" IsExpanded="True" />
    <CreateGroup ID="5984" IsExpanded="True" />
    <CreateGroup ID="7" IsExpanded="True" />
    <CreateGroup ID="4294967295" IsExpanded="True" />
</ParameterPanelGroups>