<PanelVisibility>
    <DocType ID="Kompas.m3d">
        <Panel ID="LOBJ_VAR_TREE" IsVisible="True" />
        <Panel ID="LOBJ_MIRROR_PANEL" IsVisible="True" />
    </DocType>
    <DocType ID="Kompas.a3d">
        <Panel ID="LOBJ_DEPENDENCIES_TREE:100004" IsVisible="False" />
        <Panel ID="LOBJ_MIRROR_PANEL" IsVisible="True" />
    </DocType>
</PanelVisibility>