<shortcuts>
    <shortcut id="ESCAPE" current="Escape" system="True" group="" />
    <shortcut id="CREATE" current="Ctrl+Enter" system="True" group="" />
    <shortcut id="EDIT_CUT2" current="Shift+Del" system="True" group="" />
    <shortcut id="EDIT_COPY2" current="Ctrl+Ins" system="True" group="" />
    <shortcut id="EDIT_PASTE2" current="Shift+Ins" system="True" group="" />
    <shortcut id="GOTO_00" current="Ctrl+NumPad0" system="True" group="" />
    <shortcut id="CNP_SNAP" current="Ctrl+Clear" system="True" group="" />
    <shortcut id="NP_SNAP" current="Ctrl+NumPad5" system="True" group="" />
    <shortcut id="MP_SNAP" current="Clear" system="True" group="" />
    <shortcut id="IP_SNAP" current="Alt+NumPad5" system="True" group="" />
    <shortcut id="POS_NORM_TO_OBJECT" current="Ctrl+Decimal" system="True" group="" />
    <shortcut id="POS_CNORM_TO_OBJECT" current="Ctrl+Shift+Decimal" system="True" group="" />
    <shortcut id="POS_UP_TO_OBJECT" current="Ctrl+NumPad8" system="True" group="" />
    <shortcut id="POS_DOWN_TO_OBJECT" current="Ctrl+NumPad2" system="True" group="" />
    <shortcut id="POS_LEFT_TO_OBJECT" current="Ctrl+NumPad4" system="True" group="" />
    <shortcut id="POS_RIGHT_TO_OBJECT" current="Ctrl+NumPad6" system="True" group="" />
    <shortcut id="POS_LEFTDOWN_TO_OBJECT" current="Ctrl+NumPad1" system="True" group="" />
    <shortcut id="POS_LEFTUP_TO_OBJECT" current="Ctrl+NumPad7" system="True" group="" />
    <shortcut id="POS_RIGHTUP_TO_OBJECT" current="Ctrl+NumPad9" system="True" group="" />
    <shortcut id="POS_RIGHTDOWN_TO_OBJECT" current="Ctrl+NumPad3" system="True" group="" />
    <shortcut id="SYS_SHORTCUT_GLOBAL_SEARCH" current="Alt+/" system="True" group="" />
    <shortcut id="SYS_SHORTCUT_TREE_SEARCH" current="Ctrl+/" system="True" group="" />
    <shortcut id="SYS_SHORTCUT_NEXT_TAB" current="Ctrl+Tab" system="True" group="" />
    <shortcut id="SYS_SHORTCUT_PREV_TAB" current="Ctrl+Shift+Tab" system="True" group="" />
    <shortcut id="SYS_SHORTCUT_HELP" current="F1" system="True" group="" />
    <shortcut id="COPYBUILDINFO" current="Ctrl+Alt+F10" system="True" group="" />
    <shortcut id="TOGGLEBIGCROSS" current="Ctrl+K" system="True" group="" />
    <shortcut id="DISKRETE_MODE_ONOFF" current="F7" system="True" group="" />
    <shortcut id="RESET" current="Ctrl+Shift+P" system="True" group="" />
    <shortcut id="COMMON_COPY_PROPERTY" current="Ctrl+Shift+C" system="True" group="" />
    <shortcut id="ORTHO_MODE_ONOFF" current="F8" system="True" group="" />
    <shortcut id="GRIDONOFF" current="Ctrl+G" system="True" group="" />
    <shortcut id="BEGIN_CHOICE_OBJECT" current="Ctrl+T" system="True" group="" />
    <shortcut id="SNAP_ONOFF" current="Ctrl+D" system="True" group="" />
    <shortcut id="REBUILD_SHEET" current="F5" system="True" group="" />
    <shortcut id="FILE_NEW" current="Ctrl+N" system="False" group="" />
    <shortcut id="FILE_OPEN" current="Ctrl+O" system="False" group="" />
    <shortcut id="FILE_CLOSE" current="Ctrl+W" system="False" group="" />
    <shortcut id="FILE_SAVE" current="Ctrl+S" system="False" group="" />
    <shortcut id="FILE_PRINT" current="Ctrl+P" system="False" group="" />
    <shortcut id="UNDO" current="Ctrl+Z" system="False" group="" />
    <shortcut id="REDO" current="Ctrl+Y" system="False" group="" />
    <shortcut id="RETRYCOMMAND" current="F4" system="False" group="" />
    <shortcut id="EDIT_CUT" current="Ctrl+X" system="False" group="" />
    <shortcut id="EDIT_COPY" current="Ctrl+C" system="False" group="" />
    <shortcut id="EDIT_PASTE" current="Ctrl+V" system="False" group="" />
    <shortcut id="EDIT_CLEAR" current="Del" system="False" group="" />
    <shortcut id="SPELLING" current="Ctrl+F7" system="False" group="" />
    <shortcut id="EDIT_SELECT_ALL" current="Ctrl+A" system="False" group="" />
    <shortcut id="ZOOMENTIREDOCUMENT" current="A" system="False" group="" />
    <shortcut id="ZOOMIN" current="Ctrl+NumPad+" system="False" group="" />
    <shortcut id="ZOOMOUT" current="Ctrl+NumPad-" system="False" group="" />
    <shortcut id="REFRESH" current="Ctrl+F9" system="False" group="" />
    <shortcut id="HYPERLINK" current="Ctrl+L" system="False" group="" />
    <shortcut id="LM_TURN_OFF_ALL" current="Ctrl+Shift+F12" system="True" group="" />
    <shortcut id="WND_CLOSE" current="Ctrl+F4" system="False" group="" />
    <shortcut id="ITALIC" current="Ctrl+I" system="True" group="" />
    <shortcut id="BOLD" current="Ctrl+B" system="True" group="" />
    <shortcut id="UNDERL" current="Ctrl+U" system="True" group="" />
    <shortcut id="TE_CONVERT_SEL_TEXT_TO_LAT" current="Ctrl+Shift+L" system="True" group="" />
    <shortcut id="TE_CONVERT_SEL_TEXT_TO_RUS" current="Ctrl+Shift+R" system="True" group="" />
    <shortcut id="TE_CONVERT_SEL_TEXT_TO_LOWERCASE" current="Ctrl+Shift+D" system="True" group="" />
    <shortcut id="TE_CONVERT_SEL_TEXT_TO_UPPERCASE" current="Ctrl+Shift+U" system="True" group="" />
    <shortcut id="TE_REMOVE_MANUAL_CHARACTER_FORMATTING" current="Ctrl+Space" system="True" group="" />
    <shortcut id="EDIT_FIND" current="Ctrl+F" system="False" group="" />
    <shortcut id="EDIT_REPLACE" current="Ctrl+H" system="False" group="" />
    <shortcut id="EDIT_REPEAT" current="F3" system="False" group="" />
    <shortcut id="NBREAKE_SPACE" current="Ctrl+Shift+Space" system="False" group="" />
    <shortcut id="NBREAKE_HYP" current="Ctrl+Shift+-" system="False" group="" />
    <shortcut id="REBUILD_RPTT_SLAVE" current="F5" system="True" group="" />
    <shortcut id="SPC_SPC_REBUILD" current="F5" system="True" group="" />
    <shortcut id="SYSTEM_HOT_KEY_CTRL_UP" current="Ctrl+Up" system="True" group="" />
    <shortcut id="SYSTEM_HOT_KEY_CTRL_DOWN" current="Ctrl+Down" system="True" group="" />
    <shortcut id="BEGIN_CHOICE_OBJECT_3D" current="Ctrl+T" system="True" group="" />
    <shortcut id="3D_REBUILD_ALL" current="F5" system="True" group="" />
    <shortcut id="ROTATE_CCW" current="Shift+Left" system="True" group="" />
    <shortcut id="3D_CREATE_SHEET_FROM_MODEL" current="Ctrl+D" system="True" group="" />
    <shortcut id="ROTATE_CW" current="Shift+Right" system="True" group="" />
    <shortcut id="SHOW_DIMENSIONS_VAR_REGIME" current="F11" system="False" group="" />
    <shortcut id="ZOOMSKETCH" current="Shift+F9" system="False" group="" />
    <shortcut id="SPLINE_FORM_RESET_STATE" current="Ctrl+R" system="False" group="" />
    <shortcut id="PREVIEW_ADD_DOC" current="Ctrl+O" system="False" group="printpreview" />
    <shortcut id="PREVIEW_DEL_DOC" current="Del" system="False" group="printpreview" />
    <shortcut id="PRV_FILE_PRINT" current="Ctrl+P" system="False" group="printpreview" />
    <shortcut id="PRINT_SETUP_OUT_PREVIEW" current="Y" system="False" group="" />
    <shortcut id="ID_PREVIEW_CLOSE" current="Ctrl+F4" system="False" group="printpreview" />
    <shortcut id="PRV_ZOOMENTIREDOCUMENT" current="F9" system="False" group="printpreview" />
    <shortcut id="PRV_ZOOMSELECTED" current="F10" system="False" group="printpreview" />
    <shortcut id="PREVIEW_TURN_ACW" current="Z" system="False" group="printpreview" />
    <shortcut id="PREVIEW_TURN_CW" current="X" system="False" group="printpreview" />
    <shortcut id="PREVIEW_CUTMODE" current="E" system="False" group="printpreview" />
    <shortcut id="PREVIEW_SELECTALL" current="Ctrl+A" system="False" group="printpreview" />
    <shortcut id="PREVIEW_SELECT_WITH_RECT" current="D" system="False" group="printpreview" />
    <shortcut id="PRINT_SETUP_SCALE" current="F" system="False" group="printpreview" />
    <shortcut id="PUT_SHEETS_TOGETHER" current="C" system="False" group="printpreview" />
    <shortcut id="PUT_SHEETS_TO_PAGE_NODE" current="H" system="False" group="printpreview" />
    <shortcut id="CHECK_SHEETS_OVERLAPPING" current="G" system="False" group="printpreview" />
    <shortcut id="PRINT_FILTER" current="Ctrl+F" system="False" group="printpreview" />
    <shortcut id="3D_MOVE_COMPONENT" current="W" system="False" group="" />
    <shortcut id="3D_ROTATE_COMPONENT_WC" current="E" system="False" group="" />
    <shortcut id="EXTENDED_SELECTION" current="Q" system="False" group="" />
    <shortcut id="VIEWPROJ_UP" current="S" system="False" group="" />
    <shortcut id="ZOOMSELECTED" current="F" system="False" group="" />
</shortcuts>