<ColumnParams>
    <Column ID="Name" Index="0" Width="161" OldWidth="162" />
    <Column ID="Expression" Index="1" Width="42" OldWidth="43" />
    <Column ID="CalculatedValue" Index="2" Width="52" OldWidth="53" />
    <Column ID="RecalculatedValue" Index="4" Width="0" OldWidth="40" />
    <Column ID="Deviation" Index="5" Width="0" OldWidth="40" />
    <Column ID="ParameterDescription" Index="3" Width="154" OldWidth="155" />
    <Column ID="Comment" Index="6" Width="80" OldWidth="80" />
</ColumnParams>